﻿@inherits LayoutComponentBase

<PageTitle>Tiendita el Campeon</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        

        <article class="content px-4">
            @Body
        </article>
        <p>Diseñado por Brenda Irais Cruz Vargas</p>
    </main>
</div>
