﻿@page "/catClientes"

<h3>Catalogo de Clientes</h3>

Total de registros:@clientes.Count
<table class="table table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Direccion</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in clientes)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Nombre</td>
				<td>@item.Apellidos</td>
				<td>@item.Direccion</td>
			</tr>
		}
	</tbody>
</table>
@code {
	List<Clientes> clientes;
	RepositorioClientes repo;
	protected override void OnInitialized()
	{
		base.OnInitialized();
		repo = FabricRepositorios.RepositorioClientes();
		LlenarTabla();
	}
	private void LlenarTabla()
	{
		clientes = repo.TraerTodos;
		StateHasChanged();
	}
}
