﻿@page "/catProductos"
<h3>Catalogo de Productos</h3>

Total de registros:@productos.Count
<table class="table table-hover">>
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>IdCategoria</th>
			<th>Precio</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in productos)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Nombre</td>
				<td>@item.IdCategoria</td>
				<td>@item.Precio</td>
			</tr>
		}
	</tbody>
</table>

@code {
	List<Productos> productos;
	RepositorioProductos repo;
	protected override void OnInitialized()
	{
		base.OnInitialized();
		repo = FabricRepositorios.RepositorioProductos();
		LlenarTabla();
	}
	private void LlenarTabla()
	{
		productos = repo.TraerTodos;
		StateHasChanged();
	}

}
